.body {
  max-width: 1200px;

  background-color: rgb(255, 255, 252);
  background-image: url(/imges/Tip.png);
}
.box5 {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d9def3;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 4px;
  padding: 8px;
}
.content5 {
  max-height: 350px;
  color: rgb(36, 55, 163);
  font-family: cursive;
  margin-top: 40px;
  border: 1px solid #32448d;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.content5:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.02);
  box-shadow: 8px 8px 9px 2px rgb(232, 232, 232);
}
.sil5 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* flex-wrap: wrap; */
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
  margin-right: 10px;
}
.f5 {
  width: 30px;
  height: 30px;
}
