.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10pxpx;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  /* border-radius: 5px; */
  border-bottom: 1px solid #32448d;
  box-shadow: 8px 8px 9px 2px rgb(232, 232, 232);
}
.ssik {
  content: none;

  display: flex;
  justify-content: space-between;
  align-content: center;
  /* flex-wrap: wrap; */
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
  margin-right: 10px;
}
.a {
  width: 160px;
  margin-left: 30px;
}
.header__logo-wrapper {
  color: rgb(36, 55, 163);
  font-family: cursive;
}
.header__logo-img {
  width: 30px;
  height: 30px;
}

.f3 {
  width: 14px;
  height: 15px;
  margin-right: 10px;
}
.f4 {
  width: 12px;
  height: 15px;
}
/* .sil {
  margin-right: 50px;
} */
/* .foto1 {
  margin-right: 30px;
} */
.l {
  font-size: 18px;
  text-decoration: none;
  color: rgb(36, 55, 163);
  font-family: cursive;
}
.info {
  margin-top: 30px;
}
